/*Estilos generales */

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background: url(disenio/background-nube.png) ;
    color: aliceblue;
}

.img {
    margin: 1px;
    width: 50%;
}

h1 {
    font-size: 5em;
    margin: 25px;
}


/*Nav bar*/


/*Banner*/
.a{
    margin-top: 50px;
    width: 120px;
}
.b{
    margin-top: 50px;
width: 600px;
}
.c{
    margin-top: 60px;
    width: 200px;
    height: 150px
}
.k{
    width: 150px;
    height: 2em;
}
.kd {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.nompag {
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
}

.GN {
    width: 7%;
}

.RS {
    background: url(disenio/pasto.png) center;
    width: 100%;
    height: 80px;
}

.img-tw,
.img-ig,
.img-fb {
    width: 3%;
    background: rgba(0, 0, 0, 0);
}


/*Estilos index*/


/*por ahora está vacío*/


/*Estilo Nosotros*/

.QS,
.reg {
    font-size: 4em;
    text-align: center;
    background: url(./public/cuadricula.png) center;
    height: 80px;
    color: black;
    margin: 0px;
}

.testi {
    text-align: center;
}

.MiR,
.DM,
.PR,
.AV,
.MaR {
    width: 25%;
    margin: 2em;
}

.MDP,
.AM {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ID {
    width: 50%;
    border-radius: 100%;
}

.name {
    margin-top: 3em;
    color: yellow;
}


/*Contacto*/

.contact {
    font-size: 4em;
    text-align: center;
    background: url(./public/cuadricula.png) center no-repeat;
    height: 80px;
    color: black;
    margin: 0px;
}

.correo {
    text-align: center;
}


/*Estilos Registro*/
.regis {

    background: url(./public/castillo.png) center no-repeat;
}

.reg {
    margin-bottom: 60px;
}

.registro1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profe {
    width: 25%;
    padding: 2em;
    margin-left: 3em;
    color: whitesmoke;
    text-align: center;
    border: #213567 solid 5px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, .3);
}

.est {
    width: 25%;
    padding: 2em;
    color: whitesmoke;
    text-align: center;
    border: #1e3d8a solid 5px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, .3);
}

.img-est,
.img-profe {
    min-width: 100px;
    width: 50%;
}

.img-padre {
    width: 72%;
}

/*estilos codigo*/

.codino {
    display: flex;
    flex-direction: row;
}

/*Estilo estudiante profesor*/

.registro {
    width: 650px;
    background: rgba(200, 138, 77, 0.918);
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    font-family: 'Press Start 2P';
}

.registro p,
.registro h2 {
    background: rgb(0, 0, 0, 0);
}

input {
    color: antiquewhite;
    background-color: rgba(136, 68, 34, 0.313);
}


/*iniciar sesion*/

.formulario {
    background: rgba(200, 138, 77, 0.918);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(200, 138, 77, 0.568);
    color: white;
}

.form-control {
    background: rgb(136, 68, 34, 0.313);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: white;
}

.ingresar {
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700px !important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    transition: 0.5s ease-in;
}

.ingresar:hover {
    color: white;
}

.olvide {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
}

.olvide:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.olvide1 {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700 !important;
    /* border: 2px solid white; */
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
}

.olvide1:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}